* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

/* GENERALES  -------------------------*/
body {
  background-color: #e1cfdd !important;
}

/*                   INDEX ----------   */
.subtitle {
  background-image: url(../assets/img/captura.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.subtitle .subtitle__h2 {
  font-size: 8rem;
  text-align: center;
  padding-top: 9rem;
  font-weight: bold;
  color: #fff700;
  text-shadow: 0.2rem 0.2rem black;
  transition: text-shadow 1s;
  font-family: "Oswald", sans-serif;
}
.subtitle .subtitle__h2:hover {
  text-shadow: 0.6rem 0.6rem black;
}
.subtitle .subtitle__p {
  font-size: 6rem;
  text-align: center;
  padding-top: 7rem;
  color: #fff700;
  font-weight: bolder;
  text-shadow: 0.2rem 0.2rem black;
  transition: text-shadow 1s;
  font-family: "Oswald", sans-serif;
}
.subtitle .subtitle__p:hover {
  text-shadow: 0.6rem 0.6rem black;
}
.subtitle .subtitle__h3 {
  font-size: 7rem;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 12rem;
  text-decoration: underline;
  color: #fff700;
  text-shadow: 0.2rem 0.2rem black;
  transition: text-shadow 1s;
  transition: color 1s;
  font-family: "Oswald", sans-serif;
}
.subtitle .subtitle__h3:hover {
  text-shadow: 0.6rem 0.6rem black;
  color: #FD370A;
}

.galeria .galeria__title {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.galeria .galeria__contenedor {
  margin-left: 15rem;
  background-color: #e1cfdd;
  width: 80%;
  min-height: 60rem;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 3fr 2fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
.galeria .item {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  object-fit: cover;
}
.galeria .item1 {
  grid-column: 1/3;
}
.galeria .item2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.galeria .item3 {
  grid-row: 2/4;
  grid-column: 1/2;
}
.galeria .item4 {
  grid-row: 2/4;
  grid-column: 2/3;
}
.galeria .item5 {
  height: 10rem;
}
.galeria .item9 {
  grid-column: 2/4;
}

.info {
  display: flex;
  justify-content: space-around;
}
.info .tarjeta {
  height: 5rem;
  width: 30rem;
  border: 0.3rem solid #FD370A;
  background-image: linear-gradient(to bottom, #f0e405, #f08605);
  transition: border-radius 3s;
  transition: height 2s;
  overflow: hidden;
}
.info .tarjeta:hover {
  border-radius: 3rem;
  height: 23rem;
}
.info .tarjeta__title {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}
.info .tarjeta__title:hover {
  transform: scale(1.1);
}
.info .tarjeta__desc {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  font-family: "Kanit", sans-serif;
  line-height: 4rem;
}

section .tablapos__title {
  font-size: 4rem;
  text-align: center;
  padding-top: 2rem;
}
section .tablapos__subtitle {
  font-size: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
section .tablapos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .posiciones {
  width: 80%;
  height: 40rem;
}
section th {
  font-size: 3rem;
  font-weight: bold;
  border: 0.2rem solid black;
  background-color: #f7e32a;
}
section td {
  border: 0.2rem solid black;
  background-color: #fa4a32;
}
section tr {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

footer .footer__fb {
  width: 5rem;
  height: 5rem;
  position: relative;
  left: 60rem;
  top: 5rem;
}
footer .footer__fb:hover {
  transform: scale(1.1);
}
footer .footer__ig {
  width: 5rem;
  height: 5rem;
  position: relative;
  left: 65rem;
  top: 5rem;
}
footer .footer__ig:hover {
  transform: scale(1.1);
}
footer .footer__wsp {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 9rem;
  height: 5rem;
}

/*# sourceMappingURL=styles.css.map */
