* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

/* GENERALES  -------------------------*/
body {
  background: linear-gradient(to left, #77A1D3, #79CBCA, #E684AE);
}

.galeria .galeria__title {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.galeria .galeria__contenedor {
  margin-left: 10%;
  width: 80%;
  min-height: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 3fr 2fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
.galeria .item {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  object-fit: cover;
}
.galeria .item1 {
  grid-column: 1/3;
}
.galeria .item2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.galeria .item3 {
  grid-row: 2/4;
  grid-column: 1/2;
}
.galeria .item4 {
  grid-row: 2/4;
  grid-column: 2/3;
}
.galeria .item5 {
  height: 10rem;
}
.galeria .item9 {
  grid-column: 2/4;
}

.fixture .fixture__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.fixture .contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}
@media (max-width: 600px) {
  .fixture .contenedor {
    grid-template-columns: 1fr;
  }
}
.fixture .tablafix {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #C9D6FF, #E2E2E2);
}

.equipos__title {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.contenedor__equipo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 1%;
  row-gap: 2rem;
  column-gap: 1rem;
}
@media (max-width: 600px) {
  .contenedor__equipo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (max-width: 320px) {
  .contenedor__equipo {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}
.contenedor__equipo .tarjeta__equipo {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding-left: 25%;
  transition: transform 0.5s, box-shadow 0.5s;
  background-color: #fc23e3;
  opacity: 75%;
}
.contenedor__equipo .tarjeta__equipo:hover {
  transform: translate(0px, -15px);
  box-shadow: 0 10px 2px -2px gray;
  opacity: 100%;
}
.contenedor__equipo .equipo__titulo {
  font-size: 3rem;
}
.contenedor__equipo .jugadora {
  font-size: 2rem;
}

.goleadoras {
  width: 40rem;
  height: 30rem;
  background: linear-gradient(to left, #f12711, #f5af19);
}
@media (max-width: 480px) {
  .goleadoras {
    width: 30rem;
    height: 20rem;
  }
}
@media (max-width: 320px) {
  .goleadoras {
    width: 20rem;
    height: 15rem;
  }
}

.tarjetas {
  width: 40rem;
  height: 30rem;
  background: linear-gradient(to left, #f12711, #f5af19);
}
@media (max-width: 480px) {
  .tarjetas {
    width: 30rem;
    height: 20rem;
  }
}
@media (max-width: 320px) {
  .tarjetas {
    width: 20rem;
    height: 15rem;
  }
}

.valores__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 30rem;
}
.valores__flex .valores__item {
  border: 0.2rem dotted #f50fce;
  padding: 1rem;
}

.contacto__title {
  margin-left: 3rem;
  margin-top: 3rem;
}

.iframe {
  padding: 3rem;
  width: 75%;
}

.form__textArea {
  margin-left: 5rem;
  font-size: 2rem;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .form__textArea {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
}

/*   BUCLE   ----------------*/
.t-1 {
  font-size: 6rem;
}

.t-2 {
  font-size: 7rem;
}

.t-3 {
  font-size: 8rem;
}

.t-4 {
  font-size: 9rem;
}

.t-5 {
  font-size: 10rem;
}

/*  VARIABLES  ---------------*/
/* MIXIN   ---------------------*/
/*                   INDEX ----------   */
.contenedor__title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  margin-bottom: 5%;
}
@media (max-width: 320px) {
  .contenedor__title {
    grid-template-columns: 1fr;
  }
}
.contenedor__title .titles__item1 {
  font-size: 4rem;
  text-align: center;
  font-family: "Unbounded", cursive;
  font-weight: bolder;
  color: #470559;
  margin-top: 20%;
  line-height: 8rem;
  transition: text-shadow 1s;
}
@media (max-width: 768px) {
  .contenedor__title .titles__item1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 600px) {
  .contenedor__title .titles__item1 {
    font-size: 2rem;
    line-height: 6rem;
  }
}
@media (max-width: 480px) {
  .contenedor__title .titles__item1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .contenedor__title .titles__item1 {
    line-height: 4rem;
  }
}
.contenedor__title .titles__item2 {
  width: 60%;
  height: 60%;
  margin-top: 10%;
}
.contenedor__title .titles__icono {
  height: 8rem;
  width: 8rem;
  transition: transform 0.5s;
}
@media (max-width: 768px) {
  .contenedor__title .titles__icono {
    height: 7rem;
    width: 7rem;
  }
}
@media (max-width: 600px) {
  .contenedor__title .titles__icono {
    height: 6rem;
    width: 6rem;
  }
}
@media (max-width: 480px) {
  .contenedor__title .titles__icono {
    height: 5rem;
    width: 5rem;
  }
}
.contenedor__title .titles__icono:hover {
  transform: rotate(100deg);
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .info {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
.info .tarjeta {
  border: 1px solid black;
  width: 20%;
  height: 25%;
  border-radius: 1rem;
  background: linear-gradient(to left, #abbaab, #ffffff);
  transition: box-shadow 0.4s linear, transform 1s;
}
.info .tarjeta:hover {
  box-shadow: 10px 10px 5px #535557;
  transform: scale(1.1, 1.1);
}
@media (max-width: 768px) {
  .info .tarjeta {
    width: 50%;
  }
}
.info .tarjeta__title {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}
@media (max-width: 480px) {
  .info .tarjeta__title {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  .info .tarjeta__title {
    font-size: 1.5rem;
  }
}
.info .tarjeta__desc {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  font-family: "Kanit", sans-serif;
  line-height: 4rem;
}
@media (max-width: 480px) {
  .info .tarjeta__desc {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .info .tarjeta__desc {
    font-size: 1rem;
    line-height: 2rem;
  }
}

section .tablapos__title {
  font-size: 3rem;
  text-align: center;
  padding-top: 4rem;
}
section .tablapos__subtitle {
  font-size: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
section .tablapos__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
section .posiciones {
  width: 80%;
  height: 50%;
  background: linear-gradient(to left, #f12711, #f5af19);
}
section th {
  font-size: 3rem;
  font-weight: bold;
  border: 0.2rem solid black;
}
@media (max-width: 480px) {
  section th {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  section th {
    font-size: 1.5rem;
  }
}
section td {
  border: 0.2rem solid black;
}
section tr {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 480px) {
  section tr {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  section tr {
    font-size: 1.5rem;
  }
}

/*   MAP     ----------------*/
.footer .footer__fb {
  width: 5rem;
  height: 5rem;
  margin-top: 5rem;
  margin-left: 45%;
}
.footer .footer__fb:hover {
  transform: scale(1.1);
}
@media (max-width: 480px) {
  .footer .footer__fb {
    width: 3rem;
    height: 3rem;
  }
}
.footer .footer__ig {
  width: 5rem;
  height: 5rem;
  margin-top: 5rem;
  margin-left: 2%;
}
.footer .footer__ig:hover {
  transform: scale(1.1);
}
@media (max-width: 480px) {
  .footer .footer__ig {
    width: 3rem;
    height: 3rem;
  }
}
.footer .footer__wsp {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 9rem;
  height: 5rem;
}
@media (max-width: 480px) {
  .footer .footer__wsp {
    width: 6rem;
    height: 4rem;
  }
}

.check {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

/*# sourceMappingURL=styles.css.map */
