$width: 40rem;
$height: 30rem;


.goleadoras {
	width: $width;
	height: $height;
	background-color: #f5eacb;
	@media (max-width: 600px){
		width: calc($width - 5rem);
	height: calc($height - 5rem);
	}
	@media (max-width: 420px) {	
	width:  calc($width / 2);
	height: calc($height / 2);
}
}

.tarjetas {
	width: $width;
	height: $height;
	background-color: #f5eacb;
	@media (max-width: 600px){
		width: calc($width - 5rem);
	height: calc($height - 5rem);
	}
	@media (max-width: 420px) {	
	width: calc($width / 2);
	height: calc($height / 2);
}
}


