* {
	margin: 0;
	padding:0;
	font-size: 62.5%
}

/* GENERALES  -------------------------*/
body {
	background-color: #e1cfdd !important;
	;

}



@import "./_subtitle.scss";
@import "./_galeria.scss";
@import "./_fixture.scss";
@import "./_equipos.scss";
@import "./_tablas.scss";
@import "./_nosotros.scss";
@import "./_contacto.scss";

/*   BUCLE   ----------------*/

@for $count from 1 to 6 {
	.t-#{$count} {
		font-size: 5rem + $count
	}
}

/*  VARIABLES  ---------------*/

$subt: 3rem;

/* MIXIN   ---------------------*/

@mixin flex ($justify-content, $align-items, $flex-direction, $flex-wrap) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;   
	flex-wrap: $flex-wrap; 
}


/*                   INDEX ----------   */
.info {
	@include flex (space-around, start, row, nowrap);	
	@media (max-width: 768px) {
		flex-direction: column;
		gap: 1rem;
		align-items: center;
	}
	.tarjeta {
	height: 5rem;
	width: 30rem;
	border: 0.3rem solid #FD370A;
	background-image: linear-gradient(to bottom, #f0e405, #f08605);
    transition: border-radius 3s;
    transition: height 2s;
    overflow: hidden;
    &:hover {
	 border-radius: 3rem;
	 height: 23rem;
}
@media (max-width: 320px) {
width: 25rem;
	}
	&:hover {
	 border-radius: 3rem;
	 height: 15rem;
}
	}

.tarjeta__title {
	font-size: $subt;
	text-align: center;
	text-decoration: underline;
	&:hover {
	transform: scale(1.1);
} 
@media (max-width: 320px) {
	font-size: calc($subt - 1rem);
}
}

.tarjeta__desc {
	font-size: $subt - 1rem;
	text-align: center;
	margin-top: 2rem;
	font-family: 'Kanit', sans-serif;
	line-height: 4rem;
	@media (max-width: 320px) {
font-size: calc($subt - 2rem);
	}
}	
}   

section {
	.tablapos__title {
	font-size: $subt;
	text-align: center;
	padding-top: 2rem;
	
	} 

.tablapos__subtitle {
	font-size: $subt;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.tablapos__container {
	@include flex (center, center, column, nowrap);	
} 

.posiciones {
	width: 80%;
	height: 50%; 	
}

th {
	font-size: $subt;
	font-weight: bold;
	border: 0.2rem solid black;
	background-color: #f7e32a;
	@media (max-width: 480px) {
font-size: calc($subt - 1rem);
	}
	@media (max-width: 320px) {
font-size: calc($subt / 2);
	}
}

td {
	border: 0.2rem solid black;
	background-color: #fa4a32;
}

tr {
	font-size: $subt;
     text-align: center;
     font-weight: bold;
      @media (max-width: 480px) {
font-size: calc($subt - 1rem);
    }	
    @media (max-width: 320px) {
font-size: calc($subt / 2);
    }	
    
}
}

/*   MAP     ----------------*/

$redes:(width: 5rem,
	     height: 5rem,
	     margin-top: 5rem);

.footer {	
	.footer__fb {		
	width: map-get($redes, width);
	height:  map-get($redes, height);
	margin-top: map-get($redes, margin-top);	
    margin-left: 45%;    
    &:hover {
	transform: scale(1.1);
}
   @media (max-width: 480px) {
    width: map-get($redes, width) - 2rem;
    height:  map-get($redes, height) - 2rem;
    }	 
   }

.footer__ig {	
width: map-get($redes, width);
	height:  map-get($redes, height);
	margin-top: map-get($redes, margin-top);		
	margin-left: 2%;	
	&:hover {
	transform: scale(1.1);
}
@media (max-width: 480px) {
    width: map-get($redes, width) - 2rem;
    height:  map-get($redes, height) - 2rem;
    }
}
.footer__wsp {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 9rem;
	height: 5rem;
@media (max-width: 480px) {
	width: 6rem;
	height: 4rem;
}
}
}