* {
	margin: 0;
	padding:0;
	font-size: 62.5%
}

/* GENERALES  -------------------------*/
body {
	background: linear-gradient(to left, #77A1D3, #79CBCA, #E684AE);

}




@import "./_galeria.scss";
@import "./_fixture.scss";
@import "./_equipos.scss";
@import "./_tablas.scss";
@import "./_nosotros.scss";
@import "./_contacto.scss";

/*   BUCLE   ----------------*/

@for $count from 1 to 6 {
	.t-#{$count} {
		font-size: 5rem + $count
	}
}

/*  VARIABLES  ---------------*/

$subt: 3rem;

/* MIXIN   ---------------------*/

@mixin flex ($justify-content, $align-items, $flex-direction, $flex-wrap) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;   
	flex-wrap: $flex-wrap; 
}


/*                   INDEX ----------   */


.contenedor__title {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;	
	justify-items: center;
	margin-bottom: 5%;
	@media (max-width: 320px) {
		grid-template-columns: 1fr;

	}

.titles__item1 {
	font-size: 4rem;
	text-align: center;
	font-family: 'Unbounded', cursive;
	font-weight: bolder;
	color: #470559;
   margin-top: 20%;
   line-height: 8rem;
   transition: text-shadow 1s; 
   @media (max-width: 768px) {
   	font-size: 2.5rem;
   }
   @media (max-width: 600px) {
   	font-size: 2rem;
   	line-height: 6rem;
   }
   @media (max-width: 480px) {
   	font-size: 1.5rem;
   }
   @media (max-width: 320px) {
   	line-height: 4rem;

   }
}

.titles__item2 {
	width: 60%;
	height: 60%;
	margin-top: 10%;
    
}
.titles__icono {
	height: 8rem;
	width: 8rem;
	transition: transform 0.5s; 
	@media (max-width: 768px) {
		height: 7rem;
		width: 7rem;
	}
	@media (max-width: 600px) {
		height: 6rem;
		width: 6rem;
	}
	@media (max-width: 480px) {
		height: 5rem;
		width: 5rem;
	}
	&:hover {
	transform: rotate(100deg);
}
}
}





.info {
	@include flex (space-around, start, row, nowrap);	
	@media (max-width: 768px) {
		flex-direction: column;
		gap: 2rem;
		align-items: center;
	}
	.tarjeta {	
    border: 1px solid black;
	width: 20%;	
	height: 25%;
	border-radius: 1rem;	
	background: linear-gradient(to left, #abbaab, #ffffff);
   transition: box-shadow 0.4s linear, transform 1s;
    &:hover {
	 box-shadow: 10px 10px 5px #535557;
	transform: scale(1.1 , 1.1);
}
@media (max-width: 768px) {
	width: 50%;
	}
}

.tarjeta__title {
	font-size: $subt;
	text-align: center;
	text-decoration: underline;	
@media (max-width: 480px) {
	font-size: 2rem;
}
@media (max-width: 320px) {
	font-size: 1.5rem;
}
}

.tarjeta__desc {
	font-size: $subt - 1rem;
	text-align: center;
	margin-top: 2rem;
	font-family: 'Kanit', sans-serif;
	line-height: 4rem;
	@media (max-width: 480px) {
		font-size: 1.5rem;

	}
	@media (max-width: 320px) {
		font-size: 1rem;
		line-height: 2rem;
	}
}	
}   

section {
	.tablapos__title {
	font-size: $subt;
	text-align: center;
	padding-top: 4rem;
	
	} 

.tablapos__subtitle {
	font-size: $subt;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.tablapos__container {
	@include flex (center, center, column, nowrap);	
} 

.posiciones {
	width: 80%;
	height: 50%; 	
	background: linear-gradient(to left, #f12711, #f5af19);
}

th {
	font-size: $subt;
	font-weight: bold;
	border: 0.2rem solid black;
	
	@media (max-width: 480px) {
font-size: calc($subt - 1rem);
	}
	@media (max-width: 320px) {
font-size: calc($subt / 2);
	}
}

td {
	border: 0.2rem solid black;	
}

tr {
	font-size: $subt;
     text-align: center;
     font-weight: bold;
      @media (max-width: 480px) {
font-size: calc($subt - 1rem);
    }	
    @media (max-width: 320px) {
font-size: calc($subt / 2);
    }	
    
}
}

/*   MAP     ----------------*/

$redes:(width: 5rem,
	     height: 5rem,
	     margin-top: 5rem);

.footer {	
	.footer__fb {		
	width: map-get($redes, width);
	height:  map-get($redes, height);
	margin-top: map-get($redes, margin-top);	
    margin-left: 45%;    
    &:hover {
	transform: scale(1.1);
}
   @media (max-width: 480px) {
    width: map-get($redes, width) - 2rem;
    height:  map-get($redes, height) - 2rem;
    }	 
   }

.footer__ig {	
width: map-get($redes, width);
	height:  map-get($redes, height);
	margin-top: map-get($redes, margin-top);		
	margin-left: 2%;	
	&:hover {
	transform: scale(1.1);
}
@media (max-width: 480px) {
    width: map-get($redes, width) - 2rem;
    height:  map-get($redes, height) - 2rem;
    }
}
.footer__wsp {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 9rem;
	height: 5rem;
@media (max-width: 480px) {
	width: 6rem;
	height: 4rem;
}
}
}

.check {
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
}